# Python cache dosyaları
__pycache__/
*.pyc

# Veritabanı dosyası
records.db

# VS Code ayar dosyaları (ileride C64'te de işine yarar)
.vscode/

# Geçici dosyalar
*.log
*.tmp

# environments  .env file
.env

# environments .venv file
.venv/
venv/